:root {
  --color-dark-blue: hsl(209, 23%, 22%);
  --color-darkmode-blue: hsl(207, 26%, 17%);
  --color-lightmode-blue: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(0, 0%, 52%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-lightmode-text: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 18px;
  font-family: "Nunito Sans";
  background-color: #fafafa;
}
body.darkMode {
  background-color: var(--color-darkmode-blue);
  color: var(--color-lightmode-text);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}
@media (max-width: 776px) {
  .container {
    padding: 0 4rem;
  }
}

.header {
  background-color: var(--color-white);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  padding: 2rem 0;
  color: var(--color-lightmode-blue);
}
.header.darkMode {
  background-color: var(--color-dark-blue);
  color: var(--color-lightmode-text);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 4rem;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__mode {
  display: flex;
}
.header__mode-icon {
  margin-right: 0.8rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
.header__text {
  font-weight: 800;
  font-size: 24px;
  line-height: 3.3rem;
}
@media (max-width: 776px) {
  .header__text {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 4.8rem 0;
}
@media (max-width: 776px) {
  .search {
    flex-direction: column;
    align-items: stretch;
  }
}
.search .fas {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #848484;
  z-index: 2;
}
.search-filter {
  border: none;
  padding: 1.8rem 2.4rem;
  cursor: pointer;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--color-lightmode-blue);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  outline: none;
}
@media (max-width: 776px) {
  .search-filter {
    width: 50%;
    margin-top: 2rem;
  }
}
.search-filter.darkMode {
  background-color: var(--color-dark-blue);
  color: var(--color-lightmode-text);
}
.search-filter option {
  border: none;
  padding-top: 3rem;
  height: 200px;
}
.search-bar {
  flex: 0 0 45%;
}
.search-bar-input {
  height: 5rem;
  width: 100%;
  padding: 1.8rem 0 1.8rem 5rem;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: normal;
  color: var(--color-dark-gray);
}
.search-bar-input.darkMode {
  background-color: var(--color-dark-blue);
  color: var(--color-lightmode-text);
}

.card {
  background-color: #fff;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  transition: all 0.5s;
}

.card.darkMode {
  background-color: var(--color-dark-blue);
}
.card__container {
  color: var(--color-lightmode-blue);
}
.card__container.darkMode {
  color: var(--color-lightmode-text);
}
.card__content {
  padding: 0 1rem 4.6rem 2.4rem;
}
.card__name {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 800;
  margin: 2.4rem 0 1.6rem 0;
  height: 5rem;
}
.card__details--flex {
  display: flex;
}
.card__details--right {
  margin-left: 6rem;
  flex: 1;
}
.card__details--left {
  flex: 1;
}
.card__details p {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.card__details p:not(:last-child) {
  margin-bottom: 1rem;
}
.card__details p span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.domain {
  margin-top: 6rem;
}

img {
  width: 100%;
  height: 16rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}

.card__img1 {
  width: 560px;
}

.card__img1 {
  width: 560px;
}

.card__img1 img {
  height: 100%;
  object-fit: contain;
}

.card__content1 {
  width: 574px;
}

.single-card {
  margin-top: 8rem;
  margin-bottom: 10rem;
}
.single-card__row {
  margin-top: 8rem;
  display: flex;
  align-items: center;
}
@media (max-width: 976px) {
  .single-card__row {
    flex-direction: column;
  }
}
.single-card__img {
  flex: 1;
  margin-right: 8rem;
}
@media (max-width: 776px) {
  .single-card__img {
    margin-right: 0;
    margin-bottom: 4.5rem;
  }
}
.single-card__img img {
  height: 400px;
  width: 560px;
  object-fit: contain;
}
@media (max-width: 776px) {
  .single-card__img img {
    width: 400px;
  }
}
.single-card__details {
  flex: 1.1;
}
.single-card__details__flex {
  display: flex;
  margin-top: 2.3rem;
}
@media (max-width: 776px) {
  .single-card__details__flex {
    flex-direction: column;
  }
}
.single-card__details__flex p {
  margin-bottom: 1rem;
  font-weight: 600;
  white-space: nowrap;
}
.single-card__details__flex p span {
  font-weight: 400;
}
.single-card__details--left {
  margin-right: 6rem;
  flex: 1;
}
.single-card__details--right {
  flex: 1.2;
}
@media (max-width: 776px) {
  .single-card__details--right {
    margin-top: 4rem;
  }
}

.btn {
  background-color: var(--color-lightmode-text);
  padding: 1rem 4rem;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.btn.darkMode {
  background-color: var(--color-dark-blue);
  color: var(--color-lightmode-text);
}
.btn i {
  margin-right: 1rem;
}
.language {
  margin-left: 1rem;
}

.border {
  padding: 0.4rem 2.7rem;
  background-color: var(--color-lightmode-text);
  color: #000;
  margin-left: 1rem;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
  border-radius: 2px;
}
.border.darkMode {
  background-color: var(--color-dark-blue);
  color: var(--color-lightmode-text);
}

/*# sourceMappingURL=style.css.map */

.btn-delete {
  border: 1px solid #ea3546;
  color: #ea3546;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  display: inline-block;
  background-color: transparent;
  margin-left: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-delete:hover {
  background-color: #ea3546;
  color: #fff;
}
